<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:object="${siteConfig}">
    <meta charset="UTF-8">
    <meta name="keywords" th:content="*{keywords}" th:if="*{keywords != null}">
    <meta name="description" th:content="*{description}" th:if="*{description != null}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="rootUrl" th:content="@{/}">

    <title>
        <th:block th:if="${pageTitle != null}"
        th:text="${#strings.concat(pageTitle, ' - ')}"></th:block>
        <th:block th:text="*{siteTitle}"></th:block>
    </title>

    <link href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/common/css/style.css?v={v}(v=*{cssVersion})}" type="text/css">

    <th:block th:if="${addCommonCss != null}">
        <link rel="stylesheet" th:each="cssPath : ${addCommonCss}"
              th:href="@{/common/css/{path}.css?v={v}(path=${cssPath}, v=*{cssVersion})}"
              type="text/css">
    </th:block>

    <th:block layout:fragment="addCommonCss"></th:block>

    <link rel="stylesheet" th:href="@{/front/css/style.css?v={v}(v=*{cssVersion})}" type="text/css">

    <th:block th:if="${addCss != null}">
        <link rel="stylesheet" th:each="cssPath : ${addCss}"
              th:href="@{/front/css/{path}.css?v={v}(path=${cssPath}, (v=*{cssVersion})}"
              type="text/css">
    </th:block>

    <th:block layout:fragment="addCss"></th:block>

    <script th:src="@{/common/js/common.js?v={V}(v=*{jsVersion})}"></script>

    <th:block th:if="${addCommonScript != null}">
        <script th:each="jsPath : ${addCommonScript}"
                th:src="@{/common/js/{path}.js?v={V}(path=${jsPath}, v=*{jsVersion})}"></script>
    </th:block>

    <th:block layout:fragment="addCommonScript"></th:block>

    <script th:src="@{/front/js/common.js?v={v}(v=*{jsVersion})}"></script>

    <th:block th:if="${addScript != null}">
        <script th:each="jsPath : ${addScript}"
                th:src="@{/front/js/{path}.js?v={v}(path=${jsPath}, v=*{jsVersion})}"></script>
    </th:block>

    <th:block layout:fragment="addScript"></th:block>

</head>
<body>
<header th:replace="~{front/outlines/_header::common}"></header>

<main layout:fragment="content"></main>

<footer th:replace="~{front/outlines/_footer::common}"></footer>
</body>
</html>