<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="common">
    <div class="footer-top">
        <div class="footer-logo">
            <img src="logo.png" alt="Pokemon Korea Logo" />
        </div>
        <div class="footer-links">
            <a href="#">회사소개</a>
            <a href="#">사업내용</a>
            <a href="#">제휴안내</a>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
        </div>
        <div class="footer-social-icons">
            <a href="#"><img src="instagram.png" alt="Instagram" /></a>
            <a href="#"><img src="youtube.png" alt="YouTube" /></a>
            <a href="#"><img src="twitter.png" alt="Twitter" /></a>
            <a href="#"><img src="tiktok.png" alt="TikTok" /></a>
        </div>
    </div>
    <div class="footer-bottom">
        <span>© 2024 Pokémon Korea, Inc.</span>
        <span>대표이사: 임재범 | 사업자등록번호: 113-86-07676</span>
        <span>고객센터: 평일 15시 ~ 18시 | 031-272-0108</span>
    </div>
</footer>

</html>