<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="common">
        <footer id="ft" class="page-pokemon">
            <div class="ft-top">
                <div class="container flex-justify-space">
                    <a href="/"><img src="/img/ft_logo.png" alt="pokemon korea, inc."></a>
                    <ul class="list-split d-lg-block d-none">
                        <li><a href="/company">회사소개</a></li>
                        <li><a href="/business">사업내용</a></li>
                        <li><a href="/partner">제휴안내</a></li>
                        <li><a href="/terms">이용약관</a></li>
                        <li><a href="/privacy">개인정보처리방침</a></li>
                        <li><a href="/email">이메일무단수집거부</a></li>
                        <li><a href="/faq">고객센터</a></li>
                    </ul>
                </div>
                <a href="javascript:;" class="btn-top"><p class="sr-only">go top</p></a>
            </div>

            <div class="ft-mdl">
                <div class="container flex-justify-space">
                    <div class="d-lg-block d-none">
                        <p>(주)포켓몬코리아&nbsp;&nbsp; 경기도 용인시 수지구 신수로 801, 4층 </p>
                        <ul class="list-split">
                            <li>대표이사:임재범</li>
                            <li>개인정보관리책임자:임재범</li>
                            <li>사업자등록번호:113-86-07676</li>
                        </ul>
                    </div>
                    <ul class="d-flex">
                        <li><a href="https://instagram.com/pokemon_korea_official?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="icon-insta">instagram</a></li>
                        <li><a href="https://www.youtube.com/user/PokemonKoreaInc" target="_blank" class="icon-youtube">youtube</a></li>
                        <li><a href="https://x.com/PokemonKoreaInc" target="_blank" class="icon-twitter_gray">twitter</a></li>
                        <li><a href="https://www.tiktok.com/@pokemon_kor" target="_blank" class="icon-tiktok">tiktok</a></li>
                        <li><a href="http://www.pokemonstore.co.kr" target="_blank" class="icon-pokemon">pokemon</a></li>
                    </ul>
                </div>
            </div>

            <div class="ft-btm">
                <div class="container">
                    <ul class="list-mn d-lg-none d-block">
                        <li><a href="/company">회사소개</a></li>
                        <li><a href="/business">사업내용</a></li>
                        <li><a href="/partner">제휴안내</a></li>
                        <li><a href="/terms">이용약관</a></li>
                        <li><a href="/privacy">개인정보처리방침</a></li>
                        <li><a href="/email">이메일무단수집거부</a></li>
                        <li><a href="/faq">고객센터</a></li>
                    </ul>
                    <div class="row flex-lg-row-reverse flex-justify-space">
                        <div class="copylight">
                            <ul>
                                <li></li><li><font color="#ffffff"><br></font></li>
                                <li><span style="font-size: 14px;"><font color="#ffffff">©2024 Pokémon. ©1995-2024 Nintendo/Creatures Inc./GAME FREAK inc.</font></span></li>
                                <li><span style="font-size: 14px;"><font color="#ffffff">©Nintendo, Creatures, GAME FREAK, TV Tokyo, ShoPro, JR Kikaku. ©Pokémon. ©1998-2020 PIKACHU PROJECT.　&nbsp;&nbsp;</font></span></li>
                                <li><span style="font-size: 14px;"><font color="#ffffff">포켓몬스터, 포켓몬, Pokémon, 몬스터볼, Nintendo Switch, Nintendo 3DS, Nintendo DS는 Nintendo의 상표입니다.</font></span></li>
                            </ul>
                            <p><font face="Noto Sans KR" color="#ffffff"><span style="font-size: 14px;">본 사이트의 콘텐츠에 대한 무단 복제 및 도용을 금하며 </span><br class="d-lg-none d-block"><span style="font-size: 14px;">이를 어길 시 법적 조치를 받을 수 있습니다.</span></font></p>
                        </div>
                        <div class="customer">
                            <div class="d-flex">
                                <p><font face="Noto Sans KR" color="#ffffff"><span style="font-size: 14px;">고객센터</span></font></p>
                                <ul class="d-lg-block d-none">
                                    <li><font face="Noto Sans KR" color="#ffffff"><span style="font-size: 14px;">운영시간 : 평일 15시 ~ 18시</span></font></li>
                                    <li><font face="Noto Sans KR" color="#ffffff"><span style="font-size: 14px;">031-272-0108&nbsp;</span></font></li>
                                    <li><font face="Noto Sans KR" color="#ffffff"><span style="font-size: 14px;">카드 게임 및 카드 게임 이벤트 : 1588-4273</span></font></li>
                                    <li><font face="Noto Sans KR" color="#ffffff"><span style="font-size: 14px;">webmaster@pokemonkorea.co.kr</span></font></li>
                                </ul>
                                <ul class="d-lg-none d-block">
                                    <li><span style="font-size: 14px;">운영시간 : 평일 15시 ~ 18시<br>031-272-0108</span></li>
                                    <li><span style="font-size: 14px;">카드 게임 및 카드 게임 이벤트 : 1588-4273</span></li>
                                    <li><span style="font-size: 14px;">webmaster@pokemonkorea.co.kr</span></li>
                                </ul>
                            </div>
                            <p><font face="Noto Sans KR" color="#ffffff"><span style="font-size: 14px;">※당사에서는 Pokémon GO 관련 문의는 대응하지 않습니다.&nbsp;</span></font></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </footer>
</html>